<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width" initial-scale="1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/custom.css">
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
		<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/custom.js"></script>
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="fbt-navigation row">
				<div class="col-md-6 nav-left"><i class="fa fa-heartbeat"></i></div>
				<div class="col-md-6 nav-right">FIBBIT.NYC</div>
			</div>
			<div class="fbt-home-body row">
				<div class="fbt-body-left col-md-2">
					<div class="fbt-filters">
						<div class="fbt-explainer">
							Welcome to Fibbit Alpha! Please use the filters on the left to find a perfect vet for your cat or dog. We are currently limited to Manhattan vets but will be explanding soon!
						</div>
						<div class="fbt-checkbox checkbox">
							<label><input type="checkbox" id="aaha_check">AAHA-certified</label>
						</div>
						<div class="fbt-checkbox checkbox">
							<label><input type="checkbox" id="cat_check">Cat-friendly</label>
						</div>
						<div class="fbt-checkbox checkbox">
							<label><input type="checkbox" id="house_check">House-visit</label>
						</div>
						<div class="fbt-checkbox checkbox">
							<label><input type="checkbox" id="twofour_check">24-hour</label>
						</div>
						<div class="fbt-checkbox checkbox">
							<label><input type="checkbox" id="low_check">Low-cost</label>
						</div>
						<div class="fbt-checkbox checkbox">
							<label><input type="checkbox" id="cc_check">Accepts Care credit</label>
						</div>
						<div class="fbt-checkbox checkbox">
							<label><input type="checkbox" id="insurance_check">Accepts Pet insurance</label>
						</div>
						<div class="fbt-checkbox checkbox">
							<label><input type="checkbox" id="payment_check">Payment plans available</label>
						</div>
						<button type="submit" class="btn btn-default">Clear all</button>
					</div>
				</div>
				<div class="fbt-body-center col-md-6">
					<script>
						$('.fbt-body-center').append("<div id='fbt_map'></div>");
						L.mapbox.accessToken = 'pk.eyJ1Ijoic2k3NCIsImEiOiJLdGEwMVVjIn0.8AaQpogJEzYTU1nRDushsA';
						var map = L.mapbox.map('fbt_map', 'si74.la690i93')
						  	.setView([40.7470, -73.9860],13)
					</script>
				</div>
				<div class="col-md-4 fbt-body-right">
				</div>
			</div>
		</div>
	</body>
</html>
