<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width" initial-scale="1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/custom.css">
		<script type="text/javascript" src="js/custom.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 sidebar">
					<div class="sidebar-signage">
						<i class="fa fa-heartbeat"></i>
						<div class="sidebar-nav">
							<i class="fa fa-heartbeat"></i>
							<i class="fa fa-heartbeat"></i>
							<i class="fa fa-heartbeat"></i>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-md-offset-2 content">
					<div class="content-body row">
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="js/chart.js"></script>

		<script type="text/javascript" src="js/bootstrap.min.js"></script>


	</body>
</html>
