body {
	background: rgb(242,242,242); /* Old browsers */
}
.container-fluid {
	padding: 0px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.content-nav {
	background-color: rgb(51, 51, 51);
	box-shadow: 2px 2px 2px rgba(247, 35, 155, 0.5);
	margin-bottom: 20px;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	text-align: right;
	padding: 30px;
}
.fbt-body-left {
	background-color: #262626;
	overflow: hidden;
	height: 600px;
	padding: 0px;
}
.fbt-body-left img {
	position: relative;
	left: -200px;
	opacity: 0.3;
}
.fbt-body-right {
	background-color: #262626;
	height: 600px;
}
.fbt-home-body {
	background-color: #FFF;
	width: 70%;
	margin: auto;
	margin-top: 70px;
	text-align: center;
	font-size: 2em;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
.fbt-home-header .fa {
	font-size: 4em;
	color: #FFF;
	text-shadow: 2px 2px 2px rgba(247, 35, 155, 0.5);
}
.fbt-navigation {
	padding-left: 20px;
	background-color: #FFF;
	box-shadow: 2px 2px 2px rgba(247, 35, 155, 0.5);
	margin-bottom: 20px;
}
.nav-left {
	padding-top: 10px;
	padding-left: 20px;
	text-align: left;
}
.nav-left .fa {
	font-size: 3em;
}
.nav-right {
	padding: 20px;
	text-align: right;
}
.sidebar {
	background-color: #c4a7d5;
	position: absolute;
	bottom: 0;
	top: 0;
	z-index: 2;
	text-align: center;
	color: #E9DEEF;
	padding-right: 0px;
	border-right: #E9DEEF 3px solid;
}
.sidebar i {
	font-size: 10em;
}
.sidebar-nav {
	padding-top: 20px;
}
.sidebar-nav i {
	font-size: 1em;
}
.sidebar-signage {
	padding-top: 30px;
	background-color: #FFF;

}