body {

}

.leaflet-container .leaflet-control-attribution {
  background-color: rgba(255,255,255,.5);
  margin: 0;
  display: none;
  box-shadow: none;
}
.leaflet-bottom {
  bottom: 0;
  display: none;
}

.container-fluid {
	padding: 0px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.checkbox {
	margin-bottom: 20px;
}
.checkbox+.checkbox {
	margin-top: 0;
}
.fbt-body-left {
	background-color: #fff;
	overflow: hidden;
	height: 600px;
	padding: 15px;
	/*z-index: 2;*/
}
.fbt-body-left img {
	position: relative;
	left: -200px;
	opacity: 0.3;
}
.fbt-body-center {
 	height:600px;
 	/*z-index: 2;*/
 }
.fbt-body-right {
	background-color: #fff;
	height: 600px;
	/*z-index: 2;*/
	overflow: scroll;
}
.fbt_vet{
	background-color: #fff;
	color:#000;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	border-radius: 4px;
	margin:10px;
	padding:10px;
}
.fbt-filters {
}
.fbt-footer{
	position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	text-align: center;
	background-color: #262626;
	color: #ccc;

}
.fbt-home-body {	
	background-color: #FFF;
	position: absolute;
	top: 9%;
	bottom: 0;
	/* text-align: center; */
	/* font-size: 2em; */
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
.fbt-home-header .fa {
	font-size: 4em;
	color: #FFF;
	text-shadow: 2px 2px 2px rgba(247, 35, 155, 0.5);
}
#fbt_map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
	height:100%;
}
.fbt-navigation {
	/*padding-left: 20px;*/
	background-color: #FFF;
}
.nav-left {
	padding-top: 10px;
	padding-left: 20px;
	text-align: left;
}
.nav-left .fa {
	font-size: 3em;
}
.nav-right {
	padding: 20px;
	text-align: right;
	font-size: 1.5em;
	text-decoration:none;
	color:#fff;
}

.nav-right a{
	text-decoration:none;
	color:#fff;
}

.nav-right a:link {color: #fff;}      /* unvisited link */
.nav-right a:visited {color: #fff;}   /* visited link */
.nav-right a:hover {color: #fff;}     /* mouse over link */
.nav-right a:active {color: #fff;} 

.row {
	margin: 0;
}
.sidebar {
	background-color: #c4a7d5;
	position: absolute;
	bottom: 0;
	top: 0;
	z-index: 2;
	text-align: center;
	color: #E9DEEF;
	padding-right: 0px;
	border-right: #E9DEEF 3px solid;
}
.sidebar i {
	font-size: 10em;
}
.sidebar-nav {
	padding-top: 20px;
}
.sidebar-nav i {
	font-size: 1em;
}
.sidebar-signage {
	padding-top: 30px;
	background-color: #FFF;

}